* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;    line-height: 1.6;
    color: black;
    font-size: 18px;
}

.container {
   margin: 0 auto;
    max-width: 960px;
    width: 100%;
}


/*header styling*/
header {
    background: white;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    color: black;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex; 
    gap: 20px;
}

nav a {
    color: #6b7280;
    font-weight: 600;
    padding: 5px 0;
}

nav a:hover {
    color: #5A67D8;
}

a {
    text-decoration: none;
}

/*overview hero styling*/

.overview-hero {
    background: #E2E8F0; 
    padding: 0;
}

.overview-hero .container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 50px 0; 
}

.overview-hero-image {
    flex: 1; 
    text-align: center;
    padding: 20px;
}

.overview-hero-image img{
    width: 100%;
    height: auto;
}

.overview-hero-text {
    flex: 2;
    padding: 20px 80px 20px 50px;
}

.overview-hero-text h2 {
    color: black;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 700;
}

.overview-hero-text p {
    color: black;
    font-size: 20px;
    line-height: 1.8;
}

/*learn about styling*/

.learn-about {
    padding: 40px 0;
}

.learn-about h2 {
    color: #48BB78;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-weight: 600;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 30px; 
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    border-color: #E2E8F0;
    overflow: hidden;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 2px 2px 0 black;
}

.card img {
    width: 100%;
    height: auto;
    min-height: 150px; 
    display: block;
    max-width: 100%; 
    object-fit: contain;
    padding: 20px;
}

.card-body {
    padding: 0 20px;
    text-align: left;
}

.card-body h3 {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #48BB78;
}

.card-body p {
    font-size: 14px;
    color: black;
}

/*testing styling*/

.testing {
    background-color: #4A5568; 
    color: white;
    padding: 40px 0;
}

.testing .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.testing-desciption h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 700;
}

.testing-desciption p {
    font-size: 16px;
    opacity: 0.9;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.testing .cta .btn {
    white-space: nowrap; 
    background-color: #48BB78;
}

.testing .cta .btn:hover {
    background-color: #4cae4c;
}


/*recent stories styling*/

.stories {
    padding: 40px 0;
}

.stories h2, .stories a{
    color: #5A67D8;
}

.stories h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-weight: 600;
}

.stories article {
    display: flex;  
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
}

.stories article img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background: #ccc; 
    flex-shrink: 0; 
}

.article-body h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.article-body p {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

/*newsletter styling*/

.newsletter {
    background-color: #48BB78; 
    color: white;
    padding: 50px 0;
    text-align: center;
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.newsletter p {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 600px;
}

.newsletter form {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    justify-content: center;
}


#email {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.newsletter .btn {
    background-color: #5A67D8;
    font-size: 16px;
}

.newsletter .btn:hover {
    background-color: purple;
}

/*footer styling*/
footer {
    background: #4A5568;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}
